head {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 60px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 40px;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 30px;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 20px;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 16px;
  margin: 0px;
}

header {
  background: #FA9088;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 25px;
}

nav a {
  text-decoration: none;
  color: #406287;
}

.container {
	width: 80%;
	margin: 0 auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  height: 100px;
  width: 100px;
  border: 3px double #2E8B57;
  border-radius: 50%;
  font-family: "calibri", Garamond, 'Comic Sans MS';
  font-size: 20px;
  background-color: #2E8B57;
  color: #FFFFFF;
}

button:hover {
  background: rgba(0,0,0,0);
  color: #2E8B57;
  box-shadow: inset 0 0 0 3px #2E8B57;
}
