head {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 60px;
  background-color: lightblue;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 40px;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 30px;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 20px;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 18px;
  margin: 40px;
  background-color: lightblue;
}
